@use "../abstracts/" as *;

.btn {
  --button-color: var(--text-primary);
  --button-color-hover: var(--text-secondary);
  --button-bg-color: var(--button-primary);
  --button-bg-hover: var(--button-primary-hover);
  --button-font-weight: var(--font-weight-bold);
  --button-font-family: var(--font-family-body);
  --button-font-size: var(--font-size-lg);

  cursor: pointer;
  border: 0;
  padding: rem(7) rem(7) rem(6) rem(7);
  font-family: var(--button-font-family), sans-serif;
  font-weight: var(--button-font-weight, 400);
  font-size: var(--button-font-size);
  color: var(--button-color);
  border-radius: rem(4);
  background-color: var(--button-bg-color);
}

.btn--tablet {
  &:hover {
    color: var(--button-color-hover);
    background-color: var(--button-bg-hover);
  }
}

@keyframes bubble-expand {
  from {
    background-color: var(--button-color);
  }

  5% {
    clip-path: circle(35% at 64% 64%);
  }

  to {
    clip-path: circle(100% at 50% 50%);
  }
}

.btn--filter {
  --button-remove-background: var(--button-color);
  padding: 0 0 0 rem(7);
  border-radius: rem(4) 0 0 rem(4);
  @include flex-row-center-y {
    gap: 0 rem(10);
  }

  &::after {
    content: "";
    width: rem(32);
    height: rem(32);
    border-radius: 0 rem(4) rem(4) 0;
    background: url("/src/icons/icon-remove.svg") no-repeat center / 15px 15px;
    background-color: var(--button-remove-background);
    transition: background-color 0.2s ease-out;
  }

  &:hover::after {
    animation: bubble-expand 300ms ease-in-out;
    background-color: black;
  }
}

.btn--clear {
  --button-clear-color: var(--text-primary);
  --button-clear-color-hover: var(--button-color);
  padding: 0;
  background-color: transparent;

  &:hover {
    color: var(--button-clear-color-hover);
    text-decoration: underline;
    background-color: transparent;
  }
}
