@use "../abstracts/" as *;

.job-listing-filter {
  transition: 250ms ease-out;
  position: absolute;
  top: 21%;
  z-index: 1;
  @include flex-row-center-y {
    justify-content: space-between;
  }
  height: 0;
  padding: rem(20);
  visibility: hidden;
  background-color: var(--background-secondary);

  > div {
    @include flex-row-center-y;
    flex-wrap: wrap;
    gap: rem(16);
  }

  > div .btn--filter {
    animation: slide-in 250ms ease-in;
  }
}

.open {
  visibility: visible;
  width: 78%;
  height: auto;

  @include set-media(min-width, 64em) {
    height: rem(62);
  }
}

.shrinking {
  visibility: visible;
  padding-block: 0;
}

.hidden {
  visibility: hidden;
  padding-block: 0;
}
