@use "../abstracts/" as *;

@keyframes slide-in {
  from {
    translate: 20%;
  }

  to {
    translate: 0%;
  }
}

.job-listing-filter {
  transition: 250ms ease-out;
  position: absolute;
  top: -3.5%;
  z-index: 1;
  @include flex-row-center-y {
    justify-content: space-between;
  }
  visibility: hidden;
  height: 0;
  padding-block: 0;
  background-color: var(--background-secondary);

  > div {
    @include flex-row-center-y {
      column-gap: rem(16);
    }
  }

  > div .btn--filter {
    animation: slide-in 250ms ease-in;
  }
}

.open {
  visibility: visible;
  padding-block: rem(10);
  height: rem(62);
}

.shrinking {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
