@use "../abstracts/" as *;

.job-listing {
  --job-listing-border-color: var(--border-primary);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  align-items: center;
  animation: fade-in 250ms ease-in;

  @include set-media(min-width, 64em) {
    grid-template-columns: rem(120) 1fr 1fr;
  }

  &__company-logo {
    position: absolute;
    width: rem(50);
    height: rem(50);
    top: -10%;
    left: 5%;

    img {
      width: 100%;
    }

    @include set-media(min-width, 64em) {
      position: relative;
      width: rem(88);
      height: rem(88);
      top: 0;
    }
  }

  &__tablets {
    transition: padding 300ms ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(17);
    margin-block-start: rem(16);
    padding-block-start: rem(16);
    border-block-start: rem(1) solid var(--border-secondary);

    @include set-media(min-width, 64em) {
      margin: 0;
      padding: 0;
      border: 0;
      justify-self: end;
    }
  }

  &--new {
    border-inline-start: rem(6) solid var(--border-primary);
  }
}

.job-info {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(231);
  align-items: center;
  column-gap: rem(10);

  &__company-name {
    margin-inline-end: rem(14);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
  }

  &__label {
    padding-inline: rem(10);
    padding-block: rem(7) rem(4);
    border-radius: rem(14);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase;
    color: var(--text-secondary);

    &[data-label="new"] {
      background-color: var(--label-primary);
    }

    &[data-label="featured"] {
      margin-inline-end: rem(9);
      background-color: var(--label-secondary);
    }
  }

  &__job-title {
    flex-basis: 100%;
    padding-block: rem(13) rem(18);
    font-weight: var(--font-weight-bold);
    color: var(--text-tertiary);
  }

  // wrapper for company-name and labels
  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
  }

  // wrapper for post-time, contract and location
  > div:nth-of-type(2) {
    display: flex;
    flex-basis: 90%;
    align-items: center;
    justify-content: space-between;
    //  Add ecllipse icon after "post-time", "contract"
    p:not(p:last-of-type) {
      display: flex;
      align-items: center;
      &::after {
        margin-inline-start: rem(10);
        content: url("/src/icons/icon-ecllipse.svg");
      }
    }
  }

  &__post-time {
    color: var(--text-accent);
  }

  &__contract {
    color: var(--text-accent);
  }

  &__location {
    color: var(--text-accent);
  }
}
