@use "../abstracts/" as *;

#content {
  --content-background-color: var(--background-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  padding-block: 18vh 25vh;
  padding-inline: 9vw;

  background-color: var(--content-background-color);
}
