@use "../abstracts/" as *;

#content {
  --content-background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  padding-block: 23vh 25vh;
  padding-inline: 6.2vw;
  background-color: var(--content-background-color);
  @include set-media(min-width, 64em) {
    padding-inline: 9vw;
  }
}
