@use "sass:map";
@use "./variables" as *;

@mixin get-props-from-map($map, $values...) {
  $prefix: map.get($map, "prefix");
  @each $v in $values {
    @each $k, $v2 in map.get($map, $v) {
      --#{$prefix}-#{$k}: #{$v2};
    }
  }
}

@mixin set-media($property, $value) {
  @media only screen and (#{$property}: #{$value}) {
    @content;
  }
}

@mixin flex-row-center-y {
  display: flex;
  align-items: center;
  @content;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  @content;
}
