/* Global variables */

$base: 16;
$font-sizes: (
  prefix: "font-size",
  sizes: (
    xs: calc(13 / $base) + rem,
    s: calc(15 / $base) + rem,
    md: calc(16 / $base) + rem,
    lg: calc(18 / $base) + rem,
  ),
);

$font-family: (
  prefix: "font-family",
  fonts: (
    body: "League Spartan",
  ),
);

$font-weight: (
  prefix: "font-weight",
  weights: (
    medium: 500,
    bold: 700,
  ),
);

$background-colors: (
  prefix: "background",
  colors: (
    primary: #effafa,
    secondary: #ffffff,
    tertiary: #61a79f,
  ),
);

$border-colors: (
  prefix: "border",
  colors: (
    primary: #61a79f,
    secondary: #cacbcb,
  ),
);

$text-colors: (
  prefix: "text",
  colors: (
    primary: #61a79f,
    secondary: #f5f5f5,
    tertiary: #1b2121,
    accent: #838989,
  ),
);

$button-colors: (
  prefix: "button",
  colors: (
    primary: #eef8f7,
    primary-hover: #61a79f,
  ),
);

$label-colors: (
  prefix: "label",
  colors: (
    primary: #61a79f,
    secondary: #1b2121,
  ),
);

$icon-colors: (
  prefix: "icon",
  colors: (
    primary: #b8bab9,
  ),
);

$shadow-colors: (
  prefix: "box-shadow",
  colors: (
    primary: #65cabe41,
  ),
);
